[Desktop Entry]
Name=Drive
Exec=chromium --app=https://drive.google.com/drive/u/1/my-drive
Icon=/home/ahaan/.local/share/icons/webapps/gdrive.png
Type=Application
Categories=Utility;
Keywords=gd;
