[Desktop Entry]
Name=Grok
Exec=chromium --app=https://grok.com/
Icon=/home/ahaan/.local/share/icons/webapps/grok.png
Type=Application
Categories=Utility;
Keywords=ai;

