[Desktop Entry]
Name=Tradingview
Exec=chromium --app=https://www.tradingview.com/chart/lCRrEItS/
Icon=/home/ahaan/.local/share/icons/webapps/tradingview.png
Type=Application
Keywords=tv;
