* {
    font-family: "Adwaita Sans";
    font-size: 18px;
    font-weight: 500;
}

/* Main OSD container */
window {
    background: rgba(40, 40, 40, 0.85);
    border-radius: 40px;
    padding: 1px 1px;
}

/* Icon (volume symbol) */
image {
    margin-right: 10px;
}

/* Progress bar container */
progressbar {
    min-height: 6px;
    border-radius: 10px;
}

/* Background of the bar */
trough {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

/* Filled part */
progress {
    background: #ffffff;
    border-radius: 10px;
}

/* Percentage text */
label {
    color: #ffffff;
    margin-left: 10px;
}
