@import url('../../.cache/wal/colors-waybar.css');

@define-color text @color15;
@define-color bg alpha(@background, 0.93);        /* less transparent */
@define-color bg-strong alpha(@background, 0.95); /* control center */
@define-color mycolor @color9;
@define-color border-color alpha(@color7, 0.8);  /* stronger thin border */

* {
    outline: none;
}

/* =========================
   Floating Notifications
========================= */

.notification {
    background: @bg;
    border: 1px solid @border-color;
    border-radius: 12px;
}

.floating-notifications .notification {
    border: 1px solid @border-color;
    border-radius: 12px;
}

/* Remove extra transparency from CC notifications */
.control-center .notification-row .notification-background .notification {
    background: @bg;
    border: 1px solid @border-color;
    border-radius: 12px;
}

/* =========================
   Notification Content
========================= */

.notification-content {
    padding: 10px;
}

.notification-content .summary {
    font-family: 'UbuntuMono Nerd Font';
    font-size: 0.95rem;
    font-weight: 500;
    color: @text;
}

.notification-content .body {
    font-family: 'UbuntuMono Nerd Font';
    font-size: 0.85rem;
    margin-top: 4px;
    color: @text;
}

.notification-content .time {
    font-size: 0.75rem;
    color: alpha(@text, 0.6);
}

/* =========================
   Close Button
========================= */

.close-button {
    all: unset;
    color: @text;
    min-height: 20px;
    min-width: 20px;
}

.close-button:hover {
    background: alpha(@mycolor, 0.2);
    border-radius: 100%;
}

/* =========================
   Control Center
========================= */

.control-center {
    background: @bg-strong;
    color: @text;
    border-radius: 14px;
    border: 1px solid @border-color;
}

.control-center scrollbar,
.control-center scrollbar slider {
    all: unset;
    min-width: 0;
    min-height: 0;
}


/* =========================
   Sliders
========================= */

trough {
    border-radius: 20px;
    background: alpha(@color7, 0.2);
}

trough highlight {
    background: @mycolor;
    border-radius: 20px;
}

trough slider {
    background: @mycolor;
}

.widget-volume,
.widget-backlight {
    background: transparent;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
}

/* =========================
   Buttons Grid
========================= */

.widget-buttons-grid > flowbox > flowboxchild > button {
    background: transparent;
    border-radius: 12px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: alpha(@mycolor, 0.2);
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background: @mycolor;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
    color: @background;
}

