[Desktop Entry]
Name=ChatGPT
Exec=chromium --app=https://chat.openai.com
Icon=/home/ahaan/.local/share/icons/webapps/openai.svg
Type=Application
Categories=Utility;
Keywords=gpt;ai;

