[Desktop Entry]
Name=Claude
Exec=chromium --app=https://claude.ai/new
StartupWMClass=chrome-claude.ai__new-Default
Icon=/home/ahaan/.local/share/icons/webapps/claude.png
Type=Application
Categories=Utility;
Keywords=claude;ai;

