[Desktop Entry]
Name=Claude
Exec=chromium --app=https://claude.ai
StartupWMClass=chrome-claude.ai__-Default
Icon=/home/USER/.local/share/icons/webapps/claude.svg
Type=Application
Categories=Network;
Keywords=claude;webapp;
