[Desktop Entry]
Name=Gmail
Exec=chromium --app=https://mail.google.com/mail/u/1/#inbox
StartupWMClass=chrome-mail.google.com__mail_u_1_-Default
Icon=/home/ahaan/.local/share/icons/webapps/gmail.png
Type=Application
Categories=Utility;
