[Desktop Entry]
Name=Youtube
Exec=brave --app=https://www.youtube.com/
StartupWMClass=brave-www.youtube.com__-Default
Icon=/usr/share/icons/Papirus-Dark/128x128/apps/youtube.svg
Type=Application
Categories=Utility;
Keywords=yt;

